<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/order.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>

                <% if (orders.length<=0) { %>

                    <h1>Nothing there!</h1>

                    <% } else { %>

                        <ul class="order_container">
                            <% orders.forEach(order=> { %>
                                <li class="order_item">
                                    <h3 class="order_item__id">
                                        Order id: #<%= order._id%>
                                    </h3>
                                    <ul>
                                        <% order.products.forEach(p=> {%>
                                            <li class="order_item__list">
                                                <img class="order_item__list_img" src="<%= p.product.imageUrl %>"
                                                    alt="<%= p.product.title %>">

                                                <h4 class="order_item__list_title">
                                                    <%= p.product.title %> <span class="each_of"> each of </span>$<%=
                                                            p.product.price %>
                                                </h4>

                                                <span class="order_item__list_quantity">
                                                    Total Quantity: <%= p.quantity %>
                                                </span>

                                                <span class="order_item__list_totalprice">
                                                    Total price: <strong>$<%= p.quantity * p.product.price %>
                                                    </strong>
                                                </span>

                                            </li>

                                            <% }) %>
                                    </ul>
                                </li>
                                <% }); %>
                        </ul>

                        <% } %>

            </main>
            <%- include('../includes/end.ejs') %>